<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Roboto+Condensed|Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar-right">
    <% if user_signed_in? %>
      You are logged in as <%= current_user.email %> | 
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      You are not logged in.
      <%= link_to "Log in", user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
